/* .f {
    color: rgb(130, 81, 17);
} */

/* Navbar{
    color: rgb(130, 81, 17);
} */

.foot {
    background: rgb(250, 244, 238);
    
    /* background: rgb(134, 80, 80);  */
}
.foot .icons{
    color:#EBBC7F
}

.foo {
    background: rgb(247, 238, 227);
    /* background: rgb(235, 225, 213); */
    /* color:#EBBC7F */
    /* background: rgb(250, 210, 210);  */
}


.client-home .bg_pic {
    background-position: center;
    background-size: cover;
    height: 450px;
  background-image: url(https://images.pexels.com/photos/382297/pexels-photo-382297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.main{
    background-size: cover;
    background-position: center;
    border: none;
    padding: 24px;
    margin: 16px;
    position: relative;
    height: 450px;
  }
  
  .main::before {
    content: "";
    background-clip: url(../../public/images/background\ video.mp4);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .8;
  }
  .info-txt {
    /* background-color: rgba(255, 255, 255, 0.653); */
    padding: 20px;
    margin-top: 30px;
    font-size: larger;
    border-radius: 1em;
    color: #000;
    position: relative;
    
  }
  /* .client-home button{
    background: rgb(250, 210, 210);
    color: rgb(134, 80, 80);
    border-radius: 5px;
    border: 1px solid rgb(134, 80, 80) ;
    position: relative;
    padding: 5px;
} */
.client-home h1{
    font-size: xx-large;
    background: rgba(255, 255, 255, 0.573);
    width: 400px;
    justify-content: center;
}
.client-home p{
    /* font-size: xx-large; */
    background: rgba(255, 255, 255, 0.573);
    width: 400px;
    /* justify-content: center; */
}

.client-home {
    position: relative;
    min-height: 450px;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  