/* .f {
    color: rgb(130, 81, 17);
} */

/* Navbar{
    color: rgb(130, 81, 17);
} */

.foot {
    background: rgb(250, 210, 210); 
    /* background: rgb(134, 80, 80);  */
}

.foo {
    background: rgb(216, 173, 173); 
    /* background: rgb(250, 210, 210);  */
}
